<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body>
<div id='calendar'></div>
<roundcube:include file="/includes/taskbar.html" />
<roundcube:include file="/includes/header.html" />

<div id='export'>
  <a href="./?_task=dummy&_action=plugin.exportEvents" title="Export to ICS">
    <img src="./plugins/calendar/skins/default/images/export.png" title="Export to ICS" />
  </a>
</div>
<div id="event">
  <form>
    <p>
      <label for="summary"><roundcube:label name="calendar.summary" /></label>:
      <br />
      <input name="summary" />
    </p>
    <p>
      <label for="description"><roundcube:label name="calendar.description" /></label>:
      <br />
      <textarea name="description"></textarea>
    </p>
  </form>
</div>
<div id='description'></div>
</body>
</html>